/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 


/* FlexSlider Necessary Styles
*********************************/ 

.flexslider .slides > li {
	display: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	max-width: 100%;
	display: block;
}

/* Control Nav */
.flex-control-nav {
	width: 70%;
	position: absolute;

	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block;  *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block;  cursor: pointer; text-indent: -9999px;}
